 conky.config = {
    background = true,
    use_xft = true,
    font = 'Source Code Pro:size=11',
    xftalpha = 1,
    update_interval = 1.0,
    total_run_times = 0,
    own_window = true,
    own_window_class = 'Conky',
    own_window_transparent = false,
    own_window_type = 'normal',
    own_window_colour = '333333',
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
    double_buffer = true,
    maximum_width = 640,
    draw_shades = false,
    draw_outline = false,
    draw_borders = false,
    draw_graph_borders = false,
    default_color = 'FFFFFF',
    default_shade_color = '000000',
    default_outline_color = '000000',
    alignment = 'middle_right',
    gap_x = 20,
    gap_y = 40,
    no_buffers = true,
    uppercase = false,
    cpu_avg_samples = 5,
    override_utf8_locale = true,
    border_inner_margin = 12
 }
conky.text = [[
${color grey}Host: $color$nodename ${execi 999999 lsb_release -ds} $machine
${color grey}Uptime:$color $uptime
$hr
ATL: ${tztime America/New_York %T %a %F}
LA:  ${tztime America/Los_Angeles %T %a %F}
GLA: ${tztime Europe/London %T %a %F}
BER: ${tztime Europe/Berlin %T %a %F}
MEL: ${tztime Australia/Melbourne %T %a %F}
UTC: ${tztime UTC %T %a %F}
$hr
${color grey}Load:$color $loadavg
${loadgraph 20 888888 FFFFFF -l }
${color grey}Processes:$color $processes  ${color grey}Running:$color $running_processes
$hr
#${color grey}Usage by cpu:
${color grey}CPU:$color $cpu% ${cpubar 4}
${color grey}Frequency (MHz):$color $freq
${cpugraph cpu0 10 888888 FFFFFF -l }
${cpugraph cpu1 10 888888 FFFFFF -l }
${cpugraph cpu2 10 888888 FFFFFF -l }
${cpugraph cpu3 10 888888 FFFFFF -l }
${color grey}                   PID      CPU%   MEM%
${color lightgrey} ${top name 1} ${top pid 1} ${top cpu 1} ${top mem 1}
${color lightgrey} ${top name 2} ${top pid 2} ${top cpu 2} ${top mem 2}
${color lightgrey} ${top name 3} ${top pid 3} ${top cpu 3} ${top mem 3}
$hr
${color grey}RAM:$color $mem/$memmax - $memperc% ${membar 4}
${color grey}Swap:$color $swap/$swapmax - $swapperc% ${swapbar 4}
${memgraph 10 555555 AAAAAA -l }

${color grey}                   PID      CPU%   MEM%
${color lightgrey} ${top_mem name 1} ${top_mem pid 1} ${top_mem cpu 1} ${top_mem mem 1}
${color lightgrey} ${top_mem name 2} ${top_mem pid 2} ${top_mem cpu 2} ${top_mem mem 2}
${color lightgrey} ${top_mem name 3} ${top_mem pid 3} ${top_mem cpu 3} ${top_mem mem 3}
$hr
${color grey}Disk:$color ${fs_used /}/${fs_size /} - $fs_used_perc% ${fs_bar 4 /}
${color grey}DiskIO: $color $diskio
${diskiograph /dev/nvme0n1p3 10 888888 FFFFFF -l }
${color grey}                   PID      CPU%   MEM%
${color lightgrey} ${top_io name 1} ${top_io pid 1} ${top_io cpu 1} ${top_io mem 1}
${color lightgrey} ${top_io name 2} ${top_io pid 2} ${top_io cpu 2} ${top_io mem 2}
${color lightgrey} ${top_io name 3} ${top_io pid 3} ${top_io cpu 3} ${top_io mem 3}
$hr
${color grey}Networking:
${color grey}IP:$color ${addr wlp2s0}
${color grey}Up:$color ${upspeed wlp2s0} ${color grey}
${upspeedgraph wlp2s0 20 888888 FFFFFF -l }
${color grey}Down:$color ${downspeed wlp2s0}
${downspeedgraph wlp2s0 20 888888 FFFFFF  -l}
${color grey}ESSID:$color ${wireless_essid wlp2s0} - ${wireless_link_qual_perc wlp2s0}% $color${wireless_link_bar 4 wlan0}
${color grey}Bit rate: $color ${wireless_bitrate wlp2s0}
$hr
${color grey}Battery:$color $battery
${color grey}Time remaining:$color $battery_time
#$hr
#${weather 
]]
